{% capture content_for_header%}
  {% capture site_name %} PAGE_TITLE {% endcapture %}
  {% capture page_title %} PAGE_TITLE {% endcapture %}
  {% capture page_description %} PAGE_DESCRIPTION {% endcapture %} 
{% endcapture %}
<script>
{% if customer %}
  const shopCustomer = {
    id: `{{ customer.id}}`,
    fullName: '{{ customer.first_name }} {{ customer.first_name }}',
    firstName: '{{ customer.first_name }}',
    lastName: '{{ customer.first_name }}',
    email: '{{ customer.email }}',
    orders: [
      {% for order in customer.orders %}
        {
          id: '{{ order.id }}',
          orderDate: '{{ order.created_at | date: "%FT%H:%M%z" }}',
          orderTotal: '{{ order.total_price | money_with_currency }}',
          lineItems: [
            {% for item in order.line_items %}
            {
              productId: '{{ item.product_id }}',
              title: '{{ item.title }}',
              quantity: '{{ item.quantity }}'
            },
            {% endfor %}
          ],
          orderLink: '{{ order.customer_url }}',
          fulfillments: [
          {% for fulfillment in order.fulfillments %}
              {
                trackingCompany: '{{ fulfillment.tracking_company }}',
                trackinNumber: '{{ fulfillment.tracking_number }}',
                trackingUrl: '{{ fulfillment.tracking_url }}',
              },
            {% endfor %}
          ],
          transactions: [
            {% for transaction in order.transactions %}
              {
                cardNumber :'{{ transaction.payment_details.credit_card_number }}'
              }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ]
        },
      {% endfor %}
    ],
    paymentInfo: {
      cardName:'{{ customer.first_name }} {{ customer.first_name }}',
      orderName: '{{ lastOrder.name }}',
      transactionName: '{{ lastTransaction.name }}',
      cardNumber: '{{ lastTransaction.payment_details }}',
      billingAddres: {
        address1:'{{ customer.default_address.address1 }}',
        address2:'{{ customer.default_address.address2 }}',
        street: '{{ customer.default_address.street }}',
        city:'{{ customer.default_address.city }}',
        company:'{{ customer.default_address.company}}',
        country:'{{ customer.default_address.country }}',
        countryCode:'{{ customer.default_address.country_code }}',
        province:'{{ customer.default_address.province }}',
        phone:'{{ customer.default_address.phone }}',
        provinceCode:'{{ customer.default_address.province_code }}',
        zip:'{{ customer.default_address.zip }}'
      }
    },
    address: {
      address1:'{{ customer.default_address.address1 }}',
      address2:'{{ customer.default_address.address2 }}',
      street: '{{ customer.default_address.street }}',
      city:'{{ customer.default_address.city }}',
      company:'{{ customer.default_address.company}}',
      country:'{{ customer.default_address.country }}',
      countryCode:'{{ customer.default_address.country_code }}',
      province:'{{ customer.default_address.province }}',
      phone:'{{ customer.default_address.phone }}',
      provinceCode:'{{ customer.default_address.province_code }}',
      zip:'{{ customer.default_address.zip }}'
    }
  };
{% else %}
  const shopCustomer = {  
    id: 0,
    fullName: '',
    firstName: '',
    lastName: '',
    email: '',
    orders: [],
    paymentInfo: {
      cardName:'',
      cardNumber: '',
      billingAddres: {
        address1:'',
        address2:'',
        street:'',
        city:'',
        company:'',
        country:'',
        countryCode:'',
        province:'',
        phone:'',
        provinceCode:'',
        zip:'',
      }
    },
    address: {
      address1:'',
      address2:'',
      street:'',
      city:'',
      company:'',
      country:'',
      countryCode:'',
      province:'',
      phone:'',
      provinceCode:'',
      zip:'',
     },
     fulfillments: []
   };
  {% endif %}


// Pull bundles and menu items
let shopProducts = [];
let shopBundles = [];
let temporaryMetafields = []

function mapMetafieldsToVariant(product, metafields) {  
  if (product.variants) {
    product.variants.map(variant => {
      variant.metafields = [];
      
      metafields.map(metafield => {
        if (Number(metafield.variantId) === Number(variant.id)) {
          delete metafield.variantId;
          variant.metafields.push(metafield);
        }
      })      
    })
  }

  temporaryMetafields = []
  return product
}

{% if collections["SHOPIFY_PRODUCTS_COLLECTION"] %}
  {% paginate collections["SHOPIFY_PRODUCTS_COLLECTION"].products by 1000 %}
    {% for product in collections["SHOPIFY_PRODUCTS_COLLECTION"].products %}
      {% for variant in product.variants %}
        {% if variant.metafields.my_fields.net_carbs %}
          temporaryMetafields.push({ 
            variantId: '{{ variant.id }}',
            key: 'net_carbs',
            name: 'Net Carbs', 
            value: '{{ variant.metafields.my_fields.net_carbs.value}}'
          })
        {% endif %}
        {% if variant.metafields.my_fields.protein %}
          temporaryMetafields.push({ 
            variantId: '{{ variant.id }}',
            key: 'protein',
            name: 'Protein', 
            value: '{{ variant.metafields.my_fields.protein.value}}'
          })
        {% endif %}
        {% if variant.metafields.my_fields.calories %}
          temporaryMetafields.push({ 
            variantId: '{{ variant.id }}',
            key: 'calories',
            name: 'Calories', 
            value: '{{ variant.metafields.my_fields.calories.value}}'
          })
        {% endif %}
        {% if variant.metafields.my_fields.total_fat %}
          temporaryMetafields.push({ 
            variantId: '{{ variant.id }}',
            key: 'total_fat',
            name: 'Total Fat', 
            value: '{{ variant.metafields.my_fields.total_fat.value}}'
          })
        {% endif %}
      {% endfor %}

      shopProducts.push(mapMetafieldsToVariant({{ product | json }}, temporaryMetafields))
    {% endfor %}
  {% endpaginate %}
{% endif %}

{% if collections["SHOPIFY_BUNDLES_COLLECTION"] %}
  {% paginate collections["SHOPIFY_BUNDLES_COLLECTION"].products by 1000 %}
    shopBundles = {{ collections["SHOPIFY_BUNDLES_COLLECTION"].products | json }}
  {% endpaginate %}
{% endif %}
const shopDomain = '{{ shop.permanent_domain }}';
</script>


<div id="root"></div>
<script src="APP_BUNDLE_URL"></script>